body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    line-height: 1.6;
}

header {
    background: #3b1b0f;
    color: white;
    padding: 25px;
    text-align: center;
    margin-bottom: 20px;
}


section {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.25);
}


h2 {
    color: #3b1b0f;
    margin-bottom: 12px;
}


ul {
    margin-left: 25px;
    padding-left: 5px;
}


footer {
    background: #3b1b0f;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 25px;
}