body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h1 {
    color: green;
    font-size: 32px;
}

h2 {
    margin-top: 20px;
    color:orange;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.models li, .features li {
    font-size: 18px;
    margin: 5px 0;
}


body {
    font-family: Arial, bebas Neue, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
}

h1 {
    font-size: 32px;
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: black;
    margin-top: 20px;
}

.car-info {
    font-size: 18px;
    line-height: 1.6;
    color:black;
    text-align: justify; 
    margin-bottom: 20px;
}


